@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 30%);
  padding: 1.5rem 1rem;
  border-radius: 1rem;
  max-width: 400px;
  width: 100%;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.1rem;
}

.icon i{
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: hsl(146, 80%, 35%);
}

h1 {
  font-size: clamp(1.4rem, 3vw, 3rem);
}

.tab-button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.tabs.active{
  background-color: hsl(0, 0%, 98%);
  color:hsl(146, 80%, 35%);
  font-weight: 600;
  border:1px solid hsl(146, 80%, 35%);
}


.content {
  position: relative;
  min-height: 250px; /* or more based on your form height */
}


.form-content {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, transform 0.4s ease;
  position: absolute;
  width: 100%;
}

.form-content.active {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  height: auto;
  position: static;
}


.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.3rem;
}

.form-group label {
  font-size: clamp(1.1rem, 2vw, 1.4rem);
}

.form-group input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  outline: 0;
  border: 1px solid hsl(0, 0%, 30%);
  font-size: clamp(1rem, 2vw, 1.2rem);
}

.container button {
  width: 100%;
  padding: 0.7rem;
  font-size: clamp(1rem, 2vw, 1.2rem);
  text-transform: capitalize;
  outline: 0;
  border: 0;
  background-color: hsl(146, 80%, 35%);
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.container button:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: scale(0.95);
}

#authPage,#chatPage {
  display: none;
}

#authPage.active,#chatPage.active {
  display: block;
}
